<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="Mena">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default" th:fragment="navi">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="home">Home</a></li>
        <li role="presentation"><a href="register">New User?</a></li>
        <li role="presentation"><a href="login">Login</a></li>
    </ul>
</nav>

        <div class="jumbotron text-center">
            <h2>Spring Boot Bank</h2>
            <p></p>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <h3>Personal Information</h3>
                <p>Earn cash back with the BankAmericard Cash Rewards credit card — 1% cash back on every purchase, 2% at grocery stores and wholesale clubs, and 3% on gas (up to $2,500 in grocery/wholesale club/gas quarterly spend) with no changing categories and no annual fee.</p>
            </div>

            <div class="col-sm-4">
                <h3>Contact Address</h3>
                <p>Banking, mortgage and home equity products offered by Bank of America, N.A., and affiliated banks, Members FDIC and wholly owned subsidiaries of Bank of America Corporation. Credit and collateral are subject to approval. Terms and conditions apply. This is not a commitment to lend. Programs, rates, terms and conditions are subject to change without notice.</p>

            </div>

            <div class="col-sm-4">
                <h3>Educational Background</h3>
                <p>Banking, mortgage and home equity products offered by Bank of America, N.A., and affiliated banks, Members FDIC and wholly owned subsidiaries of Bank of America Corporation. Credit and collateral are subject to approval. Terms and conditions apply. This is not a commitment to lend. Programs, rates, terms and conditions are subject to change without notice.</p>
                <table>
                    <tr>
                        <td>Educ} </td>
                    </tr>
                </table>
            </div>

    </div>
</div>
</body>
</html>